/* Equip Family */

@font-face {
    font-family: 'Equip ExtraLight';
    src: url('../fonts/equipslab-extralight-webfont.eot');
    src: url('../fonts/equipslab-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-extralight-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-extralight-webfont.woff') format('woff'),
         url('../fonts/equipslab-extralight-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-extralight-webfont.svg#equip_slabextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip ExtraLight Italic';
    src: url('../fonts/equipslab-extralightitalic-webfont.eot');
    src: url('../fonts/equipslab-extralightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-extralightitalic-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-extralightitalic-webfont.woff') format('woff'),
         url('../fonts/equipslab-extralightitalic-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-extralightitalic-webfont.svg#equip_slabextralight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip Light';
    src: url('../fonts/equipslab-light-webfont.eot');
    src: url('../fonts/equipslab-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-light-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-light-webfont.woff') format('woff'),
         url('../fonts/equipslab-light-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-light-webfont.svg#equip_slablight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip Light Italic';
    src: url('../fonts/equipslab-lightitalic-webfont.eot');
    src: url('../fonts/equipslab-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-lightitalic-webfont.woff') format('woff'),
         url('../fonts/equipslab-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-lightitalic-webfont.svg#equip_slablight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip Thin';
    src: url('../fonts/equipslab-thin-webfont.eot');
    src: url('../fonts/equipslab-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-thin-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-thin-webfont.woff') format('woff'),
         url('../fonts/equipslab-thin-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-thin-webfont.svg#equip_slabthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip Thin Italic';
    src: url('../fonts/equipslab-thinitalic-webfont.eot');
    src: url('../fonts/equipslab-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-thinitalic-webfont.woff') format('woff'),
         url('../fonts/equipslab-thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-thinitalic-webfont.svg#equip_slabthin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip Medium';
    src: url('../fonts/equipslab-medium-webfont.eot');
    src: url('../fonts/equipslab-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-medium-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-medium-webfont.woff') format('woff'),
         url('../fonts/equipslab-medium-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-medium-webfont.svg#equip_slabmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip Medium Italic';
    src: url('../fonts/equipslab-mediumitalic-webfont.eot');
    src: url('../fonts/equipslab-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/equipslab-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-mediumitalic-webfont.svg#equip_slabmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip Bold';
    src: url('../fonts/equipslab-bold-webfont.eot');
    src: url('../fonts/equipslab-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-bold-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-bold-webfont.woff') format('woff'),
         url('../fonts/equipslab-bold-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-bold-webfont.svg#equip_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Equip Bold Italic';
    src: url('../fonts/equipslab-bolditalic-webfont.eot');
    src: url('../fonts/equipslab-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-bolditalic-webfont.woff') format('woff'),
         url('../fonts/equipslab-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-bolditalic-webfont.svg#equip_slabbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Equip ExtraBold';
    src: url('../fonts/equipslab-extrabold-webfont.eot');
    src: url('../fonts/equipslab-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-extrabold-webfont.woff') format('woff'),
         url('../fonts/equipslab-extrabold-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-extrabold-webfont.svg#equip_slabextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip ExtraBold Italic';
    src: url('../fonts/equipslab-extrabolditalic-webfont.eot');
    src: url('../fonts/equipslab-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-extrabolditalic-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-extrabolditalic-webfont.woff') format('woff'),
         url('../fonts/equipslab-extrabolditalic-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-extrabolditalic-webfont.svg#equip_slabextrabold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip Black';
    src: url('../fonts/equipslab-black-webfont.eot');
    src: url('../fonts/equipslab-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-black-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-black-webfont.woff') format('woff'),
         url('../fonts/equipslab-black-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-black-webfont.svg#equip_slabblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Equip Black Italic';
    src: url('../fonts/equipslab-blackitalic-webfont.eot');
    src: url('../fonts/equipslab-blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/equipslab-blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/equipslab-blackitalic-webfont.woff') format('woff'),
         url('../fonts/equipslab-blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/equipslab-blackitalic-webfont.svg#equip_slabblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Balto Family */

@font-face {
    font-family: 'Balto Thin';
    src: url('../fonts/balto_thin-webfont.eot');
    src: url('../fonts/balto_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_thin-webfont.woff2') format('woff2'),
         url('../fonts/balto_thin-webfont.woff') format('woff'),
         url('../fonts/balto_thin-webfont.ttf') format('truetype'),
         url('../fonts/balto_thin-webfont.svg#baltothin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Thin Italic';
    src: url('../fonts/balto_thinitalic-webfont.eot');
    src: url('../fonts/balto_thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_thinitalic-webfont.woff2') format('woff2'),
         url('../fonts/balto_thinitalic-webfont.woff') format('woff'),
         url('../fonts/balto_thinitalic-webfont.ttf') format('truetype'),
         url('../fonts/balto_thinitalic-webfont.svg#baltothin_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Light';
    src: url('../fonts/balto_light-webfont.eot');
    src: url('../fonts/balto_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_light-webfont.woff2') format('woff2'),
         url('../fonts/balto_light-webfont.woff') format('woff'),
         url('../fonts/balto_light-webfont.ttf') format('truetype'),
         url('../fonts/balto_light-webfont.svg#baltolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Light Italic';
    src: url('../fonts/balto_lightitalic-webfont.eot');
    src: url('../fonts/balto_lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/balto_lightitalic-webfont.woff') format('woff'),
         url('../fonts/balto_lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/balto_lightitalic-webfont.svg#baltolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Book';
    src: url('../fonts/balto_book-webfont.eot');
    src: url('../fonts/balto_book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_book-webfont.woff2') format('woff2'),
         url('../fonts/balto_book-webfont.woff') format('woff'),
         url('../fonts/balto_book-webfont.ttf') format('truetype'),
         url('../fonts/balto_book-webfont.svg#baltobook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Book Italic';
    src: url('../fonts/balto_bookitalic-webfont.eot');
    src: url('../fonts/balto_bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_bookitalic-webfont.woff2') format('woff2'),
         url('../fonts/balto_bookitalic-webfont.woff') format('woff'),
         url('../fonts/balto_bookitalic-webfont.ttf') format('truetype'),
         url('../fonts/balto_bookitalic-webfont.svg#baltobook_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Bold';
    src: url('../fonts/balto_bold-webfont.eot');
    src: url('../fonts/balto_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_bold-webfont.woff2') format('woff2'),
         url('../fonts/balto_bold-webfont.woff') format('woff'),
         url('../fonts/balto_bold-webfont.ttf') format('truetype'),
         url('../fonts/balto_bold-webfont.svg#baltobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Bold Italic';
    src: url('../fonts/balto_bolditalic-webfont.eot');
    src: url('../fonts/balto_bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/balto_bolditalic-webfont.woff') format('woff'),
         url('../fonts/balto_bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/balto_bolditalic-webfont.svg#baltobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Medium';
    src: url('../fonts/balto_medium-webfont.eot');
    src: url('../fonts/balto_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_medium-webfont.woff2') format('woff2'),
         url('../fonts/balto_medium-webfont.woff') format('woff'),
         url('../fonts/balto_medium-webfont.ttf') format('truetype'),
         url('../fonts/balto_medium-webfont.svg#baltomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Medium Italic';
    src: url('../fonts/balto_mediumitalic-webfont.eot');
    src: url('../fonts/balto_mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/balto_mediumitalic-webfont.woff') format('woff'),
         url('../fonts/balto_mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/balto_mediumitalic-webfont.svg#baltomedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Black';
    src: url('../fonts/balto_black-webfont.eot');
    src: url('../fonts/balto_black-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_black-webfont.woff2') format('woff2'),
         url('../fonts/balto_black-webfont.woff') format('woff'),
         url('../fonts/balto_black-webfont.ttf') format('truetype'),
         url('../fonts/balto_black-webfont.svg#baltoblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Black Italic';
    src: url('../fonts/balto_blackitalic-webfont.eot');
    src: url('../fonts/balto_blackitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_blackitalic-webfont.woff2') format('woff2'),
         url('../fonts/balto_blackitalic-webfont.woff') format('woff'),
         url('../fonts/balto_blackitalic-webfont.ttf') format('truetype'),
         url('../fonts/balto_blackitalic-webfont.svg#baltoblack_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Super';
    src: url('../fonts/balto_super-webfont.eot');
    src: url('../fonts/balto_super-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_super-webfont.woff2') format('woff2'),
         url('../fonts/balto_super-webfont.woff') format('woff'),
         url('../fonts/balto_super-webfont.ttf') format('truetype'),
         url('../fonts/balto_super-webfont.svg#baltosuper') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Balto Super Italic';
    src: url('../fonts/balto_superitalic-webfont.eot');
    src: url('../fonts/balto_superitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_superitalic-webfont.woff2') format('woff2'),
         url('../fonts/balto_superitalic-webfont.woff') format('woff'),
         url('../fonts/balto_superitalic-webfont.ttf') format('truetype'),
         url('../fonts/balto_superitalic-webfont.svg#baltosuper_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Ultra';
    src: url('../fonts/balto_ultra-webfont.eot');
    src: url('../fonts/balto_ultra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_ultra-webfont.woff2') format('woff2'),
         url('../fonts/balto_ultra-webfont.woff') format('woff'),
         url('../fonts/balto_ultra-webfont.ttf') format('truetype'),
         url('../fonts/balto_ultra-webfont.svg#baltoultra') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Balto Ultra Italic';
    src: url('../fonts/balto_ultraitalic-webfont.eot');
    src: url('../fonts/balto_ultraitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/balto_ultraitalic-webfont.woff2') format('woff2'),
         url('../fonts/balto_ultraitalic-webfont.woff') format('woff'),
         url('../fonts/balto_ultraitalic-webfont.ttf') format('truetype'),
         url('../fonts/balto_ultraitalic-webfont.svg#baltoultra_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Miller Family */

@font-face {
    font-family: 'Miller Roman';
    src: url('..fonts/miller-textroman-webfont.eot');
    src: url('..fonts/miller-textroman-webfont.eot?#iefix') format('embedded-opentype'),
         url('..fonts/miller-textroman-webfont.woff2') format('woff2'),
         url('..fonts/miller-textroman-webfont.woff') format('woff'),
         url('..fonts/miller-textroman-webfont.ttf') format('truetype'),
         url('..fonts/miller-textroman-webfont.svg#miller_textroman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miller Italic';
    src: url('..fonts/miller-textitalic-webfont.eot');
    src: url('..fonts/miller-textitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('..fonts/miller-textitalic-webfont.woff2') format('woff2'),
         url('..fonts/miller-textitalic-webfont.woff') format('woff'),
         url('..fonts/miller-textitalic-webfont.ttf') format('truetype'),
         url('..fonts/miller-textitalic-webfont.svg#miller_textitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miller Bold';
    src: url('..fonts/miller-textbold-webfont.eot');
    src: url('..fonts/miller-textbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('..fonts/miller-textbold-webfont.woff2') format('woff2'),
         url('..fonts/miller-textbold-webfont.woff') format('woff'),
         url('..fonts/miller-textbold-webfont.ttf') format('truetype'),
         url('..fonts/miller-textbold-webfont.svg#miller_textbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Miller Bold Italic';
    src: url('..fonts/miller-textbolditalic-webfont.eot');
    src: url('..fonts/miller-textbolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('..fonts/miller-textbolditalic-webfont.woff2') format('woff2'),
         url('..fonts/miller-textbolditalic-webfont.woff') format('woff'),
         url('..fonts/miller-textbolditalic-webfont.ttf') format('truetype'),
         url('..fonts/miller-textbolditalic-webfont.svg#miller_textbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
