/* Features */

p {
    font-family: 'Balto Light';
    font-size: 13px;
    line-height: 1.25;
    letter-spacing: 0;
    color: #777;
}

.toplogo {
    padding: 25px 0 0 0;
}

.socialmedia {
    color: #ccc;
    padding: 0 8px;
}

.more a {
    font-family: 'Balto Bold';
    font-size: 10.5px;
    color: #555;
    text-transform: uppercase;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.more a:hover {
    color: #04a47c;
}

.col-md-9 {
    padding-left: 0;
}

.col-sm-3:first-child {
    padding-left: 0;
}

.footer {
    height: 200px;
    background-color: #eee;
}

h2 {
	font-family: 'Balto Bold';
	font-size: 13px;
	text-transform: uppercase;
}

h3, h4 {
    font-family: 'Balto Bold';
    border-bottom: 6px solid #efefef;
    padding-bottom: 8px;
    margin-top: 0;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h3 .category, h4 .category {
    font-size: 10.5px;
    color: #07cc9b;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
}

h5 {
    padding-bottom:15px;
    font-family: 'Balto Medium';
}

h5 small {
    font-family: 'Balto Book';
}

h5 a {
    color: #07cc9b;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

h5 a:hover {
    color: #04a47c;
}

.colimg {
    width: 100%;
    height: 160px;
    background-size: cover;
    object-fit: cover;
}

.small_links {
    padding: 15px 15px 0 0;
}

.small_links li {
    margin-left: 15px;
    font-size: 11px;
    line-height: 12px;
    padding: 0 0 8px 0;
}

.small_links li a {
    font-family: 'Balto Book';
    color: #aaa;
    transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.small_links li a:hover {
    color: #04a47c;
}

.sidebar_left {
    padding-bottom: 50px;
}

.spacer {
	height: 50px;
	width: 100%;
}

.spacer_sm {
	height: 20px;
	width: 100%;
}

.topic {
	display: inline-block;
	/*background-color: #f1f1f1;*/
	border-bottom: 6px solid #efefef;
	padding: 5px 0 4px 0px;
	width: 100%;
	color: #333;
	letter-spacing: 0.5px;
}

.topic_links ul, .topic_links li {
    font-family: 'Balto Book';
	margin: 0 0 0 -40px;
	list-style-position: outside;
    list-style-type: none;
}

.topic_links li {
    padding: 8px 0;
    border-bottom: 1px solid #f1f1f1;
}

.topic_links li small {
    font-size: 9px;
    letter-spacing: 0.5px;
    padding-left: 5px;
    color: #bbb;
}

.topic_links li a {
	text-decoration: none;
	font-family: 'Balto Medium';
	color: #07cc9b;
	transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
}

.topic_links li a:hover {
	color: #04a47c;
}

.overlay {
	height:100%;
	width:100%;
	position:absolute;
	top:0;
	left:0;
	z-index:-1;
	background-color:rgba(0,0,0,0.4);
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
}

.col-md-6:hover > .overlay {
	/*background-color:rgba(0,0,0,0.2); WHITE */
	/*background-color:rgba(255,89,28,0.4); ORANGE */
	background-color:rgba(35,255,201,0.4);
}

.f_title {
	position: absolute;
	top: 100px;
	padding: 10px 5% 10px 5%;
	width: 90%;
	height: auto;
}

.f_title, .f_title a {
	font-family: 'Equip Thin';
	font-size: 26px;
	color: #fff;
	text-align: center;
	letter-spacing: 0.5px;
	transition-duration: 1s;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    -moz-transition-duration: 1s;
}

.col-md-6:hover > .f_title a {
	text-decoration: none;
	font-family: 'Equip Thin Italic';
}

a:hover, a:visited, a:active, a:link, a:hover {
	text-decoration: none;
}

.f_title .border{
	border-bottom: 1px solid #fff;
	text-align: center;
	width: 80%;
	padding: 6px 10% 0px 10%;
	margin: 0 auto;
}

.f_caption, .f_author {
	font-size: 10.5px;
	text-transform: uppercase;
}

.f_caption {
	font-family: 'Balto Bold';
	text-align: left;
	float: left;
	padding: 9px 0 5px 10%;

}

.f_author {
	letter-spacing: 0.5px;
	font-family: 'Balto Book';
	text-align: right;
	float: right;
	padding: 9px 10% 5px 0;
}

.f_date {
	font-family: 'Balto Book';
	padding-left: 5px;
}

.clear {
	clear: both;
}